<h1 class="ls-title-intro ls-ico-calendar-more"><%= t('.schedule_massage') %></h1>
<%= flash_message %>

<h2 class="ls-text-md ls-no-bold ls-sm-space ls-no-padding-left ls-no-padding-top">
  <%= t('.timetable_availability_for') %>
</h2>

<hr>

<%= render 'schedule' %>
